html, body {
	height: 100%;
	margin: 0;
	text-align: center;
}
.wrapper {
	max-width: 900px;
	margin: 0 auto;
}
nav {
background-color: white;
max-width: 800px;
margin: auto;
font-size: 1rem;
border-radius: 0.2rem;
text-transform: uppercase;
font-family: "Oswald", serif;
}

body {
	background-color: #d0a1e7;

}

h1 {
	font-family: "Staatliches", serif;
    color: #333;
    margin-bottom: 10px;
}

h2 {
	font-family: "Oswald", serif;
	color: purple;
}
p {
	font-family: "Bonbon", serif;
	font-size: 1.5rem;
	text-transform: none;
}
.font-example2 {
	font-family: "Bonbon", serif;
	font-size: 2.0rem;
}

.first-page {
	font-style: italic;
	color: white;
	font-size: 5rem;
	font-weight: 100;
	margin-top: 1rem;
}
header {
  background-color: #a143cf;
  padding: 20px;
}

footer {
  background-color: #a143cf;
  padding: 15px;
  color: white;
}

.main-image {
max-width: 75%;
border-radius: 10px;
border: none;
width: 300px;  /* Fixed width */
height: 200px; /* Fixed height */
object-fit: cover; /* Ensures uniform sizing without distortion */
}

ul {
	list-style-position: inside; 
    padding: 0; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    list-style-type: none;
    font-family: "Oswald" , serif;
}
@media (max-width: 600px) {
  nav ul {
    display: block;
    padding: 0;
    list-style-type: none;
    background-color: #a143cf;
  }
  nav ul li {
    display: block;
    margin-bottom: 10px;
    font-family: "Staatliches", serif;
    font-weight: bold;

  }
nav a {
  text-decoration: none;
  color: white;
  }
}

/* Styles for screens 555px and up */
@media (min-width: 555px) {
  body {
	background-color: #c285d6;
  }

  .first-page {
	font-size: 4rem;
  }

  nav {
	font-size: 1.2rem;
  }
}

/* Styles for screens 800px and up */
@media (min-width: 800px) {
  body {
	background-color: #b374c5;
  }

  .first-page {
	font-size: 3.5rem;
  }

  nav {
	max-width: 900px;
	font-size: 1.5rem;
  }

  ul {
	flex-direction: row;
	justify-content: center;
  }

  ul li {
	margin: 0 15px;
  }
}
